.burdeo {
    background-color: #6c282f;  
    border-color: #6c282f;      
    color: #fff;               
  }
  
  .burdeo:hover {
    background-color: #5c2424;
    border-color: #5c2424;
  }
  .burdeo:active {
    background-color: #4a1c1c;
    border-color: #4a1c1c;
  }


.home-container {
  margin-bottom: 40px; 
}
