body{
    background-color: #f8f8f4;
}
.burdeo {
    background-color: #6f2f2e;  
    border-color: #6f2f2e;      
    color: #fff;               
  }
  
  .burdeo:hover {
    background-color: #5c2424;
    border-color: #5c2424;
  }
  .burdeo:active {
    background-color: #4a1c1c;
    border-color: #4a1c1c;
  }
  